<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>FanBar</string>
	<key>CFBundleExecutable</key>
	<string>FanBar</string>
	<key>CFBundleIdentifier</key>
	<string>com.webtiara.fanbar</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>FanBar</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.0</string>
	<key>CFBundleVersion</key>
	<string>1.0.0</string>
	<key>LSUIElement</key>
	<true/>
	<key>LSMinimumSystemVersion</key>
	<string>13.0</string>
	<key>SUFeedURL</key>
	<string>https://github.com/vipinsight/fanbar/releases/latest/download/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>7scQqQD9fR3LsyA8K/08EzZ+3HiIQLBmyYckAZUYMB0=</string>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>SUAutomaticallyUpdate</key>
	<true/>
	<key>SUScheduledCheckInterval</key>
	<integer>43200</integer>
</dict>
</plist>
